<div>
	
	<h2>Total Amount : </h2>
	<h2>  <%= @amount %> BTC </h2>
	<script src='https://inputs.io/js/buttons.js'></script>
	<a href="https://inputs.io/pay?to=frank2workd" class="inputsio" data-success='You may need to refresh the page.' data-to="frank2workd" data-amount="<%= @amount %>" data-disableamount="true" >Buy with Bitcoin</a>
</div>